Naive Bayesian Algorithm: Write a program to implement the naive bayesian classifier for a sample training data set stored as a
.CSV file. Compute the accuracy of the classifier, considering few datasets.

In [32]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [33]:
df = pd.read_csv('pima_indian.csv')

In [34]:
df.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [35]:
df.tail()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,diabetes
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [36]:
df.shape

(768, 9)

In [37]:
features_col = ['num_preg', 'glucose_conc', 'diastolic_bp', 'thickness', 'insulin', 'bmi', 'diab_pred', 'age']

In [38]:
class_name = ['diabetes']

In [39]:
X = df[features_col].values

In [40]:
X

array([[  6.   , 148.   ,  72.   , ...,  33.6  ,   0.627,  50.   ],
       [  1.   ,  85.   ,  66.   , ...,  26.6  ,   0.351,  31.   ],
       [  8.   , 183.   ,  64.   , ...,  23.3  ,   0.672,  32.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,  26.2  ,   0.245,  30.   ],
       [  1.   , 126.   ,  60.   , ...,  30.1  ,   0.349,  47.   ],
       [  1.   ,  93.   ,  70.   , ...,  30.4  ,   0.315,  23.   ]])

In [41]:
y = df[class_name].values

In [42]:
#y

In [43]:
#Split the data into train and test
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.20)

In [44]:
ytrain.shape

(614, 1)

In [45]:
ytest.shape

(154, 1)

In [46]:
gnb = GaussianNB().fit(xtrain, ytrain.ravel())

In [47]:
#gnb.fit(xtrain, ytrain.ravel())

In [48]:
predicted = gnb.predict(xtest)

In [49]:
predicted

array([1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1],
      dtype=int64)

In [50]:
predictNewData = gnb.predict([[6, 148, 72, 35, 0, 33.6, 0.627, 50]])

In [51]:
predictNewData

array([1], dtype=int64)

In [53]:
print("Confusion Matrix")
print(metrics.confusion_matrix(ytest, predicted))

Confusion Matrix
[[84 20]
 [20 30]]

In [54]:
print("Accuracy: ", metrics.accuracy_score(ytest, predicted))

Accuracy:  0.7402597402597403

In [56]:
print("Precision: ", metrics.precision_score(ytest, predicted))

Precision:  0.6

In [57]:
print("Recall: ", metrics.recall_score(ytest, predicted))

Recall:  0.6

In [58]:
print("Predicted class for new data ", predictNewData)

Predicted class for new data  [1]